$font-stack: "Avenir", "Open Sans";

$color-message: rgb(41, 41, 189);
$color-buttons: rgb(175, 87, 15);
$color-icons: rgb(172, 12, 12);
$color-text: white;
$text-decoration-none: none;

$background-image: url("../img/background_image_edited.png");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    
    height: 400px;
    background-image: $background-image;
    padding-top: 2rem;

    .div-header {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 5rem;
        border-bottom: 1px solid grey;
    }

    .img-logo {
        width: 150px;
        height: 15px;
    }

    .listas {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    a {
        margin: 5px;
        color: $color-text;
        text-decoration: $text-decoration-none;
    }

    .title-header{
        color: $color-text;
        margin-left: 4rem;
    }

}




